-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "last_signed_in_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "zodiac_signs" (
    "id" SERIAL NOT NULL,
    "name_italian" TEXT NOT NULL,
    "name_english" TEXT NOT NULL,
    "date_range" TEXT NOT NULL,
    "symbol" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "zodiac_signs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sources" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "domain" TEXT NOT NULL,
    "logo_url" TEXT,
    "base_url" TEXT NOT NULL,
    "url_pattern" TEXT NOT NULL,
    "reliability_score" DECIMAL(3,2) NOT NULL DEFAULT 3.0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_sources" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "domain" TEXT NOT NULL,
    "logo_url" TEXT,
    "base_url" TEXT NOT NULL,
    "url_pattern" TEXT NOT NULL,
    "archive_url" TEXT,
    "scrape_strategy" TEXT NOT NULL DEFAULT 'pattern',
    "slug" TEXT,
    "reliability_score" DECIMAL(3,2) NOT NULL DEFAULT 3.0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "weekly_sources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "horoscope_data" (
    "id" SERIAL NOT NULL,
    "source_id" INTEGER NOT NULL,
    "zodiac_sign_id" INTEGER NOT NULL,
    "date" DATE NOT NULL,
    "original_text" TEXT NOT NULL,
    "superquote" VARCHAR(80),
    "summary" TEXT NOT NULL,
    "relazioni_rating" SMALLINT NOT NULL,
    "lavoro_rating" SMALLINT NOT NULL,
    "salute_rating" SMALLINT NOT NULL,
    "tone_analysis" TEXT NOT NULL,
    "original_url" TEXT NOT NULL,
    "scraped_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "horoscope_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_horoscope_data" (
    "id" SERIAL NOT NULL,
    "source_id" INTEGER NOT NULL,
    "zodiac_sign_id" INTEGER NOT NULL,
    "week_start_date" DATE NOT NULL,
    "original_text" TEXT NOT NULL,
    "superquote" VARCHAR(80),
    "summary" TEXT NOT NULL,
    "relazioni_rating" SMALLINT NOT NULL,
    "lavoro_rating" SMALLINT NOT NULL,
    "salute_rating" SMALLINT NOT NULL,
    "tone_analysis" TEXT NOT NULL,
    "original_url" TEXT NOT NULL,
    "scraped_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "weekly_horoscope_data_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_preferences" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "favorite_signs" TEXT[],
    "notifications_enabled" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cleanup_tracker" (
    "id" SERIAL NOT NULL,
    "last_cleanup" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cleanup_tracker_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "scraper_executions" (
    "id" SERIAL NOT NULL,
    "started_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(3),
    "status" TEXT NOT NULL,
    "target_date" DATE NOT NULL,
    "total_jobs_enqueued" INTEGER NOT NULL DEFAULT 0,
    "successful_jobs" INTEGER NOT NULL DEFAULT 0,
    "failed_jobs" INTEGER NOT NULL DEFAULT 0,
    "retry_cycle_count" INTEGER NOT NULL DEFAULT 0,
    "trigger_type" TEXT NOT NULL,
    "error_message" TEXT,

    CONSTRAINT "scraper_executions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "scraper_source_status" (
    "id" SERIAL NOT NULL,
    "execution_id" INTEGER NOT NULL,
    "source_id" INTEGER NOT NULL,
    "zodiac_sign_id" INTEGER NOT NULL,
    "target_date" DATE NOT NULL,
    "status" TEXT NOT NULL,
    "attempt_count" INTEGER NOT NULL DEFAULT 0,
    "last_attempted_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "error_message" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "scraper_source_status_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "scraper_config" (
    "id" SERIAL NOT NULL,
    "scraper_type" TEXT NOT NULL DEFAULT 'daily',
    "enabled" BOOLEAN NOT NULL DEFAULT false,
    "start_time" TEXT NOT NULL DEFAULT '05:30:00',
    "end_time" TEXT NOT NULL DEFAULT '08:00:00',
    "interval_minutes" INTEGER NOT NULL DEFAULT 20,
    "max_retries_per_source" INTEGER NOT NULL DEFAULT 3,
    "auto_retry_delay_minutes" INTEGER NOT NULL DEFAULT 10,
    "skip_already_processed" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "scraper_config_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_scraper_executions" (
    "id" SERIAL NOT NULL,
    "started_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(3),
    "status" TEXT NOT NULL,
    "target_week" DATE NOT NULL,
    "source_group" TEXT NOT NULL,
    "total_jobs_enqueued" INTEGER NOT NULL DEFAULT 0,
    "successful_jobs" INTEGER NOT NULL DEFAULT 0,
    "failed_jobs" INTEGER NOT NULL DEFAULT 0,
    "trigger_type" TEXT NOT NULL,
    "error_message" TEXT,

    CONSTRAINT "weekly_scraper_executions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weekly_scraper_source_status" (
    "id" SERIAL NOT NULL,
    "execution_id" INTEGER NOT NULL,
    "source_id" INTEGER NOT NULL,
    "zodiac_sign_id" INTEGER NOT NULL,
    "target_week" DATE NOT NULL,
    "status" TEXT NOT NULL,
    "attempt_count" INTEGER NOT NULL DEFAULT 0,
    "last_attempted_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "error_message" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "weekly_scraper_source_status_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "zodiac_signs_name_english_key" ON "zodiac_signs"("name_english");

-- CreateIndex
CREATE UNIQUE INDEX "sources_domain_key" ON "sources"("domain");

-- CreateIndex
CREATE UNIQUE INDEX "weekly_sources_domain_key" ON "weekly_sources"("domain");

-- CreateIndex
CREATE INDEX "horoscope_data_date_idx" ON "horoscope_data"("date");

-- CreateIndex
CREATE UNIQUE INDEX "horoscope_data_source_id_zodiac_sign_id_date_key" ON "horoscope_data"("source_id", "zodiac_sign_id", "date");

-- CreateIndex
CREATE INDEX "weekly_horoscope_data_week_start_date_idx" ON "weekly_horoscope_data"("week_start_date");

-- CreateIndex
CREATE UNIQUE INDEX "weekly_horoscope_data_source_id_zodiac_sign_id_week_start_d_key" ON "weekly_horoscope_data"("source_id", "zodiac_sign_id", "week_start_date");

-- CreateIndex
CREATE UNIQUE INDEX "user_preferences_user_id_key" ON "user_preferences"("user_id");

-- CreateIndex
CREATE INDEX "scraper_executions_target_date_started_at_idx" ON "scraper_executions"("target_date", "started_at");

-- CreateIndex
CREATE INDEX "scraper_executions_status_started_at_idx" ON "scraper_executions"("status", "started_at");

-- CreateIndex
CREATE INDEX "scraper_source_status_target_date_status_idx" ON "scraper_source_status"("target_date", "status");

-- CreateIndex
CREATE INDEX "scraper_source_status_execution_id_status_idx" ON "scraper_source_status"("execution_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "scraper_source_status_source_id_zodiac_sign_id_target_date_key" ON "scraper_source_status"("source_id", "zodiac_sign_id", "target_date");

-- CreateIndex
CREATE UNIQUE INDEX "scraper_config_scraper_type_key" ON "scraper_config"("scraper_type");

-- CreateIndex
CREATE INDEX "weekly_scraper_executions_target_week_started_at_idx" ON "weekly_scraper_executions"("target_week", "started_at");

-- CreateIndex
CREATE INDEX "weekly_scraper_executions_status_started_at_idx" ON "weekly_scraper_executions"("status", "started_at");

-- CreateIndex
CREATE INDEX "weekly_scraper_executions_source_group_target_week_idx" ON "weekly_scraper_executions"("source_group", "target_week");

-- CreateIndex
CREATE INDEX "weekly_scraper_source_status_target_week_status_idx" ON "weekly_scraper_source_status"("target_week", "status");

-- CreateIndex
CREATE INDEX "weekly_scraper_source_status_execution_id_status_idx" ON "weekly_scraper_source_status"("execution_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "weekly_scraper_source_status_source_id_zodiac_sign_id_targe_key" ON "weekly_scraper_source_status"("source_id", "zodiac_sign_id", "target_week");

-- AddForeignKey
ALTER TABLE "horoscope_data" ADD CONSTRAINT "horoscope_data_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "horoscope_data" ADD CONSTRAINT "horoscope_data_zodiac_sign_id_fkey" FOREIGN KEY ("zodiac_sign_id") REFERENCES "zodiac_signs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_horoscope_data" ADD CONSTRAINT "weekly_horoscope_data_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "weekly_sources"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_horoscope_data" ADD CONSTRAINT "weekly_horoscope_data_zodiac_sign_id_fkey" FOREIGN KEY ("zodiac_sign_id") REFERENCES "zodiac_signs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_preferences" ADD CONSTRAINT "user_preferences_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "scraper_source_status" ADD CONSTRAINT "scraper_source_status_execution_id_fkey" FOREIGN KEY ("execution_id") REFERENCES "scraper_executions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "scraper_source_status" ADD CONSTRAINT "scraper_source_status_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "sources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "scraper_source_status" ADD CONSTRAINT "scraper_source_status_zodiac_sign_id_fkey" FOREIGN KEY ("zodiac_sign_id") REFERENCES "zodiac_signs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_scraper_source_status" ADD CONSTRAINT "weekly_scraper_source_status_execution_id_fkey" FOREIGN KEY ("execution_id") REFERENCES "weekly_scraper_executions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_scraper_source_status" ADD CONSTRAINT "weekly_scraper_source_status_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "weekly_sources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "weekly_scraper_source_status" ADD CONSTRAINT "weekly_scraper_source_status_zodiac_sign_id_fkey" FOREIGN KEY ("zodiac_sign_id") REFERENCES "zodiac_signs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

